# Ignore dataset folder
inaturalist_12K/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
*.env

wandb/
wandb-debug.log

*.pth 